.container {
  border-radius: 10px;
  margin-top: 16vh;
  width: 80%;
  box-shadow: 2px 2px 25px -7px #434343;
}

.img-container {
  border-radius: 10px;
  background: radial-gradient(
    circle,
    hsla(128, 100%, 50%, 1) 0%,
    rgb(85, 206, 76) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_id {
  font-size: 0.8em;
  color: #00000077;
}

.product-name {
  font-size: 4vw;
}

.product_price {
  font-size: 4vw;
  color: rgb(255, 48, 48);
}
.product_description {
  text-align: justify;
}

.buy--btn {
  width: 100%;
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #3cb815;
  box-shadow: 2px 2px 25px -7px #434343;
  cursor: pointer;

  &:active {
    transform: scale(0.97);
  }
}
